<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello world</title>
  <meta charset="UTF-8"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body style="background: white">
  <div class="container-fluid" >
    <div style="margin-top: 20px;" class="jumbotron">
      <p style="font-size: 48px;" th:inline="text">[[${lang}]]</p>
      <ul class="list-inline">
        <li><a href="/en" th:inline="text">[[${en}]]</a></li>
        <li><a href="/zh" th:inline="text">[[${zh}]]</a></li>
        <li><a href="/sp" th:inline="text">[[${sp}]]</a></li>
        <li><a href="/hi" th:inline="text">[[${hi}]]</a></li>
        <li><a href="/ar" th:inline="text">[[${ar}]]</a></li>
      </ul>
    </div>
    <p style="font-size: 14px;" th:inline="text">Version: [[${version}]]</p>
</div>
</body>
</html>
